<div class="container">
  <h2 class="display-4 fw-bold mt-5"> Наша клиника</h2>
  <div class="row mt-4">
    <div class="col-md-6">
      <p class="fs-3">
        В Косметологической Клинике Атангуловой Олеси работают специалисты с многолетним опытом работы в сфере
        косметологии и дерматологии, которые постоянно повышают свою квалификацию.
        В нашей клинике мы используем только сертифицированные препараты и безопасные методики с высокой эффективностью.
      </p>
    </div>
    <div class="col-md-6">
      <p class="fs-3">Для каждого клиента составляется индивидуальный план лечения, подбирается комплекс процедур для
        омоложения,
        улучшения состояния кожи и решения различных проблем кожи лица и тела.
        Мы специализируемся на контурной пластике, биоревитализации, омоложении лица и тела, лечение акне и розацеа.
      </p>
    </div>
  </div>
</div>
