<section class="category__offer">
  <div *ngFor="let products of category_services, let i=index">
  <div class="container">
    <h1>{{products.title}}</h1>
  </div>
  </div>
</section>

<section class="category__product__list">
  <div class="container py-5">
    <table class="table">
      <thead>
      <tr class="tr">
        <td>Намиенование услуги</td>
        <td>Цена услуги</td>
      </tr>
      </thead>
      <tbody *ngFor="let products of category_services, let i=index">
      <tr *ngFor="let service of products.services">
        <td>{{service.title}}</td>
        <td>{{service.price}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</section>
