<div class="bg-offer">
  <div class="container">
    <div class="offer">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/logo/print_4.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6"><p></p></div>
      </div>
    </div>
  </div>
</div>

<app-about-page></app-about-page>
<app-addres-page></app-addres-page>

<section>
<div class="container">
  <div *ngFor="let item of services">
    <p>{{item.last_page}}</p>
  </div>
</div>


</section>

