.bg-offer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images/pages/woman-beauty-salon-face-treatment.png");
  background-size: cover;
  .offer {
    color: white;
    padding: 120px 0;
  }
}
